.ant-menu-submenu-title {
    height: 25px !important;
}

.ant-input {
    padding: 0 20px !important;
    height: 48px;
    font-size: 14px;
    background-color: #fff !important;
    border: 1px solid #dddddd;
    border-radius: 0;
}

.ant-input-affix-wrapper {
    padding: 0 11px;
}


.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.75);
}


.amount-right {
    float: right;
}

.no-margin-btm {
    margin-bottom: 0 !important;
}

.ant-modal-close-x {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.anticon-lock svg {
    margin-top: -6px !important;
}

.float-right {
    float: right !important;
}

#noticeBanner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: #000;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    color: #fff;
    font-weight: normal;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    transform: translateY(-60px);
    animation: slideDown 2.5s 1s 1 ease forwards;

    a:hover {
        color: #eee;
    }

    .div {
        display: flex;
    }

    .center {
        flex-grow: 2;
    }
    .right {
        justify-content: flex-end;
        .close {
            display: inline-flex;
            padding: 5px;
            margin-top: 4px;
            flex-shrink: 0;
            cursor: pointer;
            margin-right: 1rem;
            opacity: 1 !important;
            svg {
                display: block;
                width: 15px;
                height: 15px;
            }
            path {
                stroke-width: 3px;
                stroke: white;
            }
            &:hover {
                path {
                    stroke: rgba(black, 0.75);
                }
            }
        }
    }
}

@keyframes slideDown {
    0%,
    100% {
        -webkit-transform: translateY(0px);
    }
    10%,
    90% {
        -webkit-transform: translateY(0px);
    }
}

@keyframes slideUp {
    0%,
    100% {
        -webkit-transform: translateY(-60px);
    }
    10%,
    90% {
        -webkit-transform: translateY(-60px);
    }
}
@media (max-width: 767px){
    .ant-modal-centered .ant-modal {
        max-width:90% !important;
        margin-top:20px;
    }
}
.blue-txt{
    color:#1251C5;
    margin-top: 10px;
    text-transform:uppercase;
}
.backbtn-top{
    padding:15px !important;
    line-height: 5px !important;
}
.ant-radio-wrapper{
    margin:0 0 5px 0;
}
textarea.form-control{
    height: auto !important;
    padding: 2rem !important;
    resize: none !important;
}
